/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  border: 1px solid purple;
}
html,
body {
  height: 100%;
  margin: 2%;
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 3rem;
}
p {
  font-size: 1.2rem;
}
.wholeContainer {
  border: 1px solid red;
  background: dodgerblue;
}
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 1.4rem;
}
.navbar a {
  text-decoration: none;
  color: black;
}
.Action-Container {
  background: lightgray;
}
.img-box {
  width: 22%;
}
.img-box img {
  border-radius: 25px;
}
.Skill-Container {
  background: ghostwhite;
}
