/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
html,
body {
  height: 100%;
  margin: 2%;
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 3rem;
}
p {
  font-size: 1.2rem;
}
.wholeContainer {
  border: 1px solid red;
  background-origin: center;
  background-image: linear-gradient(#003399, white);
  border-radius: 50px;
  padding: 20px;
  border-image: linear-gradient(to bottom, #003399, white);
}
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 1.4rem;
}
.navbar a {
  text-decoration: none;
  color: #FFFFFF;
}
.img-box {
  width: 30%;
  padding-bottom: 2%;
}
.img-box img {
  border-radius: 25px;
}
.Action-Container {
  background: lightgray;
  padding: 2% 2% 7% 2%;
}
.AC-top {
  padding: 2% 0;
  border-bottom: 1px solid black;
}
.AC-top p {
  padding-top: 1%;
}
.AC-bottom {
  padding: 2% 0;
}
.AC-bottom div {
  padding-bottom: 2%;
}
.AC-bottom button {
  background: ;
  width: 15%;
  padding: 0.5%;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #003399;
  background-color: #FFFFFF;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #003399;
}
.AC-bottom button:hover {
  background: #003399;
  color: #FFFFFF;
  box-shadow: 0 9px #FFFFFF;
}
.AC-bottom button:active {
  background-color: #FFFFFF;
  color: #003399;
  box-shadow: 0 5px gold;
  transform: translateY(4px);
}
.Skill-Container {
  border: 2px solid gold;
  background: ghostwhite;
  padding: 2% 0;
  display: flex;
  justify-content: space-between;
}
.SK-left {
  border: 2px solid purple;
}
.img-box {
  border: 1px solid purple;
  display: flex;
  flex-direction: row;
  padding-right: 10%;
}
.img-box-top,
.img-box-bottom {
  border: 1px solid purple;
  padding: 5%;
  margin: 2%;
}
