// // // Is this working?
// // /* http://meyerweb.com/eric/tools/css/reset/ 
// //    v2.0 | 20110126
// //    License: none (public domain)
// // */

// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed, 
// figure, figcaption, footer, header, hgroup, 
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
// 	margin: 0;
// 	padding: 0;
// 	border: 0;
// 	font-size: 100%;
// 	font: inherit;
// 	vertical-align: baseline;
// }
// /* HTML5 display-role reset for older browsers */
// article, aside, details, figcaption, figure, 
// footer, header, hgroup, menu, nav, section {
// 	display: block;
// }
// body {
// 	line-height: 1;
// }
// ol, ul {
// 	list-style: none;
// }
// blockquote, q {
// 	quotes: none;
// }
// blockquote:before, blockquote:after,
// q:before, q:after {
// 	content: '';
// 	content: none;
// }
// table {
// 	border-collapse: collapse;
// 	border-spacing: 0;
// }

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	padding:0;
	margin:0;
	max-width:100%;
	border:1px solid purple;
}

html, body {
	height: 100%;
	margin:2%;
	font-size:62.5%;
}
h1, h2, h3, h4, h5, h6{
	font-size:3rem;
}
p{
	font-size:1.2rem;
}
.wholeContainer{
	border:1px solid red;
	background-origin: center;
	background-image: linear-gradient(#003399,white);
	border-radius: 50px;
	padding: 20px;
	border-image:
		linear-gradient(to bottom, #003399,white);
}
//HEADER//

.navbar{
	display:flex;
	justify-content:space-around;
	padding:10px;
	font-size:1.4rem;
}
.navbar a{
	text-decoration:none;
	color:#FFFFFF;
}
//ACTION CONTAINER//
.img-box{
	width:30%;
	padding-bottom:2%;
}
.img-box img{
	border-radius:25px;
}
.Action-Container{
	background:lightgray;
	padding:2% 2% 7% 2%;
}
.AC-top{
	padding:2% 0;
	border-bottom:1px solid black;
}
.AC-top p{
	padding-top:1%;
}

.AC-bottomm{
	padding:2% 0;
}
.AC-bottom div{
	padding-bottom:1%;
}
.AC-bottom button{
	background:;
	width:15%;
	padding:.5%;
	border-radius:5px;
	font-weight:bold;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #003399;
	background-color: #FFFFFF;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #003399;
}
.AC-bottom button:hover{
	background:#003399;
	color:#FFFFFF;
	box-shadow: 0 9px #FFFFFF;
}
.AC-bottom button:active {
	background-color: #FFFFFF;
	color:#003399;
	box-shadow: 0 5px gold;
	transform: translateY(4px);
}


//SKILL CONTAINER//
.Skill-Container{
	background:ghostwhite;
}



